src/wsdl/v3.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="Dossier" targetNamespace="http://relead.nl/dossierservice/V3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://relead.nl/dossierservice/V3"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:i0="http://tempuri.org/"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <wsdl:import namespace="http://tempuri.org/"
                 location="http://truckvision.sentwaninge.com/Services/DossierService/V3/Dossier.svc?wsdl=wsdl0"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://relead.nl/dossierservice/V3/Imports">
            <xsd:import
                    schemaLocation="http://truckvision.sentwaninge.com/Services/DossierService/V3/Dossier.svc?xsd=xsd0"
                    namespace="http://relead.nl/dossierservice/V3"/>
            <xsd:import
                    schemaLocation="http://truckvision.sentwaninge.com/Services/DossierService/V3/Dossier.svc?xsd=xsd1"
                    namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import
                    schemaLocation="http://truckvision.sentwaninge.com/Services/DossierService/V3/Dossier.svc?xsd=xsd2"
                    namespace="http://relead.nl/dossierservice"/>
            <xsd:import
                    schemaLocation="http://truckvision.sentwaninge.com/Services/DossierService/V3/Dossier.svc?xsd=xsd3"
                    namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
            <xsd:import
                    schemaLocation="http://truckvision.sentwaninge.com/Services/DossierService/V3/Dossier.svc?xsd=xsd4"
                    namespace="http://schemas.datacontract.org/2004/07/TruckVision.Services.DossierService.V3"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IDossier_AddTransaction_InputMessage">
        <wsdl:part name="parameters" element="tns:AddTransaction"/>
    </wsdl:message>
    <wsdl:message name="IDossier_AddTransaction_OutputMessage">
        <wsdl:part name="parameters" element="tns:AddTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="IDossier_SearchServiceRapidoCodes_InputMessage">
        <wsdl:part name="parameters" element="tns:SearchServiceRapidoCodes"/>
    </wsdl:message>
    <wsdl:message name="IDossier_SearchServiceRapidoCodes_OutputMessage">
        <wsdl:part name="parameters" element="tns:SearchServiceRapidoCodesResponse"/>
    </wsdl:message>
    <wsdl:message name="IDossier_StartWebklok_InputMessage">
        <wsdl:part name="parameters" element="tns:StartWebklok"/>
    </wsdl:message>
    <wsdl:message name="IDossier_StartWebklok_OutputMessage">
        <wsdl:part name="parameters" element="tns:StartWebklokResponse"/>
    </wsdl:message>
    <wsdl:message name="IDossier_StopWebklok_InputMessage">
        <wsdl:part name="parameters" element="tns:StopWebklok"/>
    </wsdl:message>
    <wsdl:message name="IDossier_StopWebklok_OutputMessage">
        <wsdl:part name="parameters" element="tns:StopWebklokResponse"/>
    </wsdl:message>
    <wsdl:portType name="IDossier">
        <wsdl:operation name="AddTransaction">
            <wsdl:input wsaw:Action="http://relead.nl/dossierservice/V3/IDossier/AddTransaction"
                        message="tns:IDossier_AddTransaction_InputMessage"/>
            <wsdl:output wsaw:Action="http://relead.nl/dossierservice/V3/IDossier/AddTransactionResponse"
                         message="tns:IDossier_AddTransaction_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="SearchServiceRapidoCodes">
            <wsdl:input wsaw:Action="http://relead.nl/dossierservice/V3/IDossier/SearchServiceRapidoCodes"
                        message="tns:IDossier_SearchServiceRapidoCodes_InputMessage"/>
            <wsdl:output wsaw:Action="http://relead.nl/dossierservice/V3/IDossier/SearchServiceRapidoCodesResponse"
                         message="tns:IDossier_SearchServiceRapidoCodes_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="StartWebklok">
            <wsdl:input wsaw:Action="http://relead.nl/dossierservice/V3/IDossier/StartWebklok"
                        message="tns:IDossier_StartWebklok_InputMessage"/>
            <wsdl:output wsaw:Action="http://relead.nl/dossierservice/V3/IDossier/StartWebklokResponse"
                         message="tns:IDossier_StartWebklok_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="StopWebklok">
            <wsdl:input wsaw:Action="http://relead.nl/dossierservice/V3/IDossier/StopWebklok"
                        message="tns:IDossier_StopWebklok_InputMessage"/>
            <wsdl:output wsaw:Action="http://relead.nl/dossierservice/V3/IDossier/StopWebklokResponse"
                         message="tns:IDossier_StopWebklok_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:service name="Dossier">
        <wsdl:port name="BasicHttpBinding_IDossier" binding="i0:BasicHttpBinding_IDossier">
            <soap:address location="http://truckvision.sentwaninge.com/Services/DossierService/V3/Dossier.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>